CONFIG_BIND_ADDRESS=127.0.0.1
CONFIG_PORT=8080

# Config parameters that determine the namespace URL
CONFIG_NAMESPACE_URI_SCHEME=http
CONFIG_NAMESPACE_URL_HOST=localhost
CONFIG_INCLUDE_PORT_IN_NAMESPACE_URL=true

# Authorization-related configuration parameters
CONFIG_BASIC_AUTH_ENABLED=false
CONFIG_USERNAME=""
CONFIG_PASSWORD=""
